body{
    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding: 0px;
    background: #FFFFFF;
    box-sizing: border-box;
}

/* Header */

a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 61.09px;
    margin-top: 48px;
}

#container_nav {
    width: 381px;
    display: flex;
}

nav {
    height: 74px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.container_nav_bar {
    display: flex;
    width: 50%;
    justify-content: center;
    border-top: #ffff 3px solid;
}

.container_nav_bar:hover {
    border-top: #0065fc 3px solid;
}

.link {
    padding-top: 48px;
    
}
.link:hover{
    color: #0065fc;
}

/* Main */

h1 {
    margin-top: 63px;
    font-size: 22px;
    margin-bottom: 8px;
}

h4 {
    font-weight: 300;
    font-size: 15px;
    margin: auto;
}

.recherche_input {
    border: 1px solid #F2F2F2;
    font-style: normal;
    font-size: 18px;
    margin: 0px;
    padding: 0px 17px 0px 23px;
}

.recherche_input::placeholder{
    font-family: 'Raleway';
    color: black;
    opacity: 100%;
    font-weight: bold;
}
.recherche_input:focus{
    outline: none;
}

.recherche {
    display: flex;
    height: 49px;
    margin-top: 20px;
    margin-bottom: 32px;
}

.recherche_btn {
    background-color: #0065fc;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    width: 135px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.1s;
    cursor: pointer;
    text-align:center ;
}

#recherche_loupe {
    display: none;
}

.loupe{
    display: none;
    color: white;
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    font-weight: bold;
    transition-duration: 0.1s;
    cursor: pointer;
    text-align:center;
    font-size: 17px;
    padding: 16px;
}

.icon_localisation {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
    background-color: #f4f3f3;
}

.recherche-filtres {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.recherche-filtres h2 {
    margin-right: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.recherche-filtres button {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    background-color: white;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.recherche-filtres-boutton {
    display: flex;
    gap: 43px;
}

.recherche-filtres button:hover {
    background-color: #deebff;
}

.recherche-filtres i {
    margin-right: 10px;
    color: #0065fc;
} 

/* div info */

.info {
    margin-top: 35px;
}

#icon_info {
    color: #0065fc;
    border-radius: 50px;
    border: solid 1px #eadddd;
    margin-right: 8px;
    padding: 6px 10px 6px 10px;
}

.info2 {
    font-size: 16px;
    display: initial;
}

/* Section 1 */

#zones-hebergements{
    display: flex;
    padding-top: 37px;
}

.fond-hebergements {
    width: 66%;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 42px 40px 46px 40px ;
    margin-right: 40px;
}

#hebergements {
    font-size: 22px;
    margin-bottom: 0px;
    margin: 0px;
}

/*Cards*/

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 23px;
    margin-bottom: 40px;
    height: 428px;
}

.cards-liens{
    width: 30%;
}

.hebergement-card {
    height: 199px;
    background: #FFFFFF;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}

.photo-hebergement img {
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}

.card-title {
    display: inline;
    font-size: 0.9vmax;
    margin-left: 15px;
}

.cover{
    object-fit: cover;
}

.prix-card {
    font-size: 14px;
    margin: 5px 5px 5px 15px;
}

.note-card {
    margin-left: 14px;
    display: flex;
    font-size: 15px;
}

.etoile-bleu {
    color: #0065fc;
}

.etoile-grise {
    color: #d9d9d9;
}

.afficher-plus{
    font-size: 18px;
}

/* Section 1, coter populaires */

.fond-populaire{
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 42px 40px 34px 37px ;
}

#populaire{
    font-size: 22px;
    margin: 0px;
}

/* card coter droit */

.titre-populaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#icon-populaires{
    color: #0065fc;
}

.populaire-flex{
    display: flex;
	flex-direction: column;
    margin-top: 26px;
    gap: 30px;
}

.populaire-card{
    height: 144px;
    background-color: #FFFFFF;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}

.photo-populaire{
    width: 137px;
    height: 144px;
}

.photo-populaire img{
    width: 137px;
    height: 144px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    box-sizing: border-box;
}

.text-populaire{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 22px 10px 15px;
}

.hotel-titre{
    font-size: 16px;
    margin: 0px;
}

.hotel-prix{
    font-size: 14px;
    margin-top: 7px;
    height: 15px;
    margin-bottom: 0px;
}

.note-card2{
    display: flex;
    font-size: 14px
}

.note-card3{
    display: flex;
    font-size: 14px
}

/* Section 2 activites */

#activites{
    width: 100% ;
    padding-top: 60px;
    padding-bottom: 60.51px;
}

.fond-activites{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

#activites h2{
    font-size: 22px;
    margin: 0;
}

/* gande card */

.activites-card{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
}

.activites-card img{
    width: 302px;
    height: 389px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.text-activites{
    padding: 20px 36px 21px 19px;
}

.text-activites h3{
    font-size: 16px;
    margin: 0px;
}

/* Footer */

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 280px 55px 70px;
    box-sizing: border-box;
}

footer div {
    display: flex;
    flex-direction: column;
    height: auto;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer h2 {
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    font-size: 16px;
    font-weight: 400;
}



/* Media Query tablette */

@media screen and (max-width: 992px) {
    
    body{
        max-width: 880px;
        margin: auto;
    }

    /* Main */

    .recherche-filtres-boutton {
        gap: 22px;
    }

    .recherche-filtres-boutton button {
        padding-left: 15px;
        padding-right: 15px;
    } 
    
    /* Section hebergement */

    #zones-hebergements{
        display: flex;
        flex-direction: column;
    }

    .card-title{
        font-size: 16px;
    }
    
    .fond-hebergements{
        width: 100%;
        margin-bottom: 47px;
        margin-right: 0px;
    }
    .fond-populaire{
        width: 100%;
        height: 278px;
        padding: 34px 40px 48px 40px;
    }
    .populaire-flex{
        display: flex;
        flex-direction: row;
        gap: 23px;
    }
    .titre-populaire{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .populaire-card{
        width: 252px;
    }
    .photo-populaire{
        width: 106px;
    }
    .photo-populaire img{
        width: 106px;
    }
    .text-populaire{
        padding: 12px 4px 12px 10px;
    }
    .container-text h3{
        font-size: 14px;
    }
    .container-text p{
        font-size: 13px;
    }

    /* Section activites */

    .activites-card img{
        width: 182px;
        height: 211px;
    }
    .activites-card{
        width: 182px;
        height: 267px;
    }
    .text-activites{
        padding: 0 0 0 19px;
        display: flex;
        align-items: center;
        height: 46px;
    }
    .text-activites{
        font-size: 16px;
    }

    /* footer */

    footer{
        padding: 45px 160px 58px 70px;
    }
    footer h2{
        font-weight: 700;
        font-size: 18px;
    }
}

/* Media Query mobile */

@media screen and (max-width: 768px){
    body{
        max-width: 375px;
        margin: auto;
    }

    /* header/navbar*/
    
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_nav_bar{
        border-bottom: #d9d9d9 3px solid;
        border-top: 0px;
    }
    .container_nav_bar:hover {
        border-bottom: #0065fc 3px solid;
        border-top: 0px;
    }
    .link {
        padding-bottom: 23px;
    }

    /* main */

    main{
        margin-top: 63px;
    }
    .recherche{
        margin-top: 26px;
    }
    .recherche_input{
        padding: 0px 17px 0px 23px;
    }
    .recherche_btn{
        display: none;
    }
    .loupe{
        display: flex;
    }
    #recherche_loupe{
        display: flex;
    }
    .recherche-filtres {
        flex-direction: column;
        margin-top: 34px;
        align-items: flex-start;
    }
    .recherche-filtres-boutton {
        flex-wrap: wrap;
        width: 334px;
        margin-top: 15px;
        gap: 14px;
    }
    .recherche-filtres button i {
        margin-right: 5px;
        font-size: 18px;
    }
    .recherche-filtres-boutton button {
        height: 50px;
        width: 160px;
        font-size: 10px;
    }

    /* Section Hebergement */

    #zones-hebergements{
        flex-direction: column-reverse;
        height: auto;
    }
    .grid{
        height: auto;
    }

   .cards-liens{
    width: auto;
   }

    .fond-hebergements{
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 28px 20px 0px 20px;
        background-color: #FFFFFF;
    }
    .hebergement-card{
        width: 100%;
    }
    .photo-hebergement img{
        width: 335px;
    }
    .afficher-plus{
        display: none;
    }
    
     /* Section Populaire */

    .fond-populaire{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 28px 21px 47px 20px;
        border-radius: 0px;
    }
    .populaire-flex{
        display: flex;
        flex-direction: column;
    }
    .populaire-card{
        width: 100%;
    }
    .photo-populaire{
        width: 137px;
    }
    .photo-populaire img{
        width: 137px;
    }

     /* Section Activites */

    #activites{
        padding: 0px;
    }
    .fond-activites{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 10px 22px 80px 19px;
    }
    .activites-card{
        width: 100%;
        height: 190px;
    }
    .activites-card img{
        width: 100%;
        height: 134px;
    }
    #activites h2{
        width: 150px;
        padding-left: 19px;
    }

     /* Section Footer */
     
    footer{
        display: flex;
        flex-direction: column;
        padding: 45px 130px 61px 33px;
    }
    .footer-info{
        padding-bottom: 40px;
    }
    .footer-hebergement{
        padding-bottom: 40px;
    }
}